= render partial: 'pages/who_we_are/text'
= render partial: 'pages/who_we_are/mission'
= render partial: 'pages/who_we_are/sector25'
= render partial: 'pages/who_we_are/us'
= render partial: 'pages/who_we_are/guardians'
= render partial: 'pages/who_we_are/ambassadors'
